---
version: 1
dependencies:
  galaxy: requirements.yml
  python: requirements.txt
#  system: bindep.txt

#ansible_config: 'ansible.cfg' 

build_arg_defaults:
  EE_BASE_IMAGE: 'registry.redhat.io/ansible-automation-platform-21/ee-supported-rhel8:latest'
#  EE_BASE_IMAGE: 'registry.redhat.io/ansible-automation-platform-21/ee-minimal-rhel8:latest'

additional_build_steps:
#  prepend: |
#    RUN pip3 install --upgrade pip setuptools
  append:
    - RUN ansible --version
